.counter {
    text-align: center;
    padding: 20px;
    border: 2px solid #000;
}

.counter-number {
    font-size: 50px;
    margin-bottom: 10px;
}

.button {
    font-size: 20px;
    padding: 10px 20px;
    border: 0;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}
#js-plus-button {
    background-color: blue;
    border: solid #000 1px;
}
#js-minus-button {
    background-color: orangered;
    border: solid #000 1px;
}
.button:hover {
    opacity: 0.6;
    transition: opacity .25s;
}

